$main: #f5f5f5;
$main-font:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-primary: 'Poppins',Arial, sans-serif;
$primary: #007bff;

.add-product-container{
    width: 100%;
    background-color: $main;
    font-family: $main-font;
    padding: 50px;
	background-image: url('https://wallpaperaccess.com/full/1101702.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

body{
	font-family: $font-primary;
	font-size: 16px;
	line-height: 1.8;
	font-weight: normal;
	background: #fafafa;
	color: lighten(black,50%);
}
.bg-primary{
	background: $primary ;
}

.form-control {
	height: 36px;
	font-size: 14px;
	border-radius: 2px;
	&::-webkit-input-placeholder { 
	  color: rgba(0,0,0,.3) ;
	}
	&:focus, &:active {
		border-color: $primary ;
	}
}
textarea.form-control {
	height: 100px;
}
.contact-wrap{
	background: white;
}

.info-wrap{
	color: white;
	.dbox{
		.icon{
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 2px solid rgba(255,255,255,.2);
			span{
				font-size: 20px;
				color: white;
			}
		}
		.text{
			width: calc(100% - 50px);
		}
	}
}

.btn {
	padding: 12px 16px;
	cursor: pointer;
	border-width: 1px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
	box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.12);
	position: relative;
	margin-bottom: 20px;
}

.add-product{
	.form-control{
		border: none;
		border-bottom: 1px solid rgba(0,0,0,.1);
		padding: 0;
	}
}
.g-input::placeholder{
	color: white;
	opacity: 0.7;
}
#PD-Photo::-webkit-file-upload-button {
	color:white;
	border: none;
	outline: none;
	background-color:#007bff;
	margin:20px 20px 20px 0px;
	height: 50px;
	width: 150px;
	font-size:20px;
	cursor: pointer;
}
.img-bg{
	height: 400px;
	width: 100%;
	background-color: rgb(207,207,207);
	margin-bottom: 20px;
	display: flex;
	justify-content:center;
	align-items: center;
	i{
		font-size:120px;
		color: white;
		z-index: 0;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]{
	outline: none;
	border: none;
	border-bottom: 1px solid gray;
	transition-duration: 0.2;
	width: 35%;

}
.fa-long-arrow-right{
	font-size: 30px;
	margin: 25px;
}
#sell-now-btn{
	border-radius: 0;
	width: 150px;
	height:50px;
	font-weight: bold;
	font-size: 20px;
}
.form-group{
	margin-bottom: 20px;
}
.center{
	display: flex;
	justify-content: center;
	align-items: center;
}
.container{
	display: flex;
	flex-direction: row-reverse;
}
.icon{
	margin-right: 20px;
}
.more-img{
	height: 75px;
	width: 125px;
	margin: 10px 10px 10px 0px;
	background-image: url("http://static1.squarespace.com/static/56fc1937c6fc08ffa7bc857a/591280c5579fb3effabdc016/59238e2f9f74568c561ae325/1503633039209/ThumbnailImage.png?format=1500w");
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
	cursor: pointer;
	&:hover{
		position:relative;
		bottom: 5px;
	}
	img{
		margin: auto;
	}
}
.moreImg-input{
	color: transparent;
	opacity: 0;
	margin-left: -135px;
	height: 75px;
	width:125px;
	cursor: pointer;
}
.add-img{
	height: 75px;
	width:125px;
	font-size: 27px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color:$main;
	cursor: pointer;
}