.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .card {
        margin: 25px;
        cursor: pointer;
        transition-duration: 0.5s;
        &:hover {
            position: relative;
            bottom: 5px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        }

        img {
            max-height: 370px;
            display: flex;
            align-items: center;
        }
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            a {
                margin-top: 10px;
            }
        }
    }
}
.img-container {
    height: 271px;
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
}
