$primary: #263238;
$color: #ccc;
.footer {
    background-color: $primary;
    color: white;
}
.footer-content {
    width: 100%;
    padding: 75px;
}
.footer-title {
    color: white;
}
.info-text {
    color: $color;
}
h4.footer-title {
    color: White;
    border-bottom: 2px solid white;
    width: fit-content;
    padding-bottom: 5px;
}
.text {
    color: $color;
    font-size: 15px;
    line-height: 22.5px;
}
.column {
    width: 250px;
    word-wrap: break-word;
    margin: 30px;
}
.address {
    line-height: 25px;

    margin-top: 15px;
    .fa {
        margin-right: 7px;
    }
}
.footer-info{
    display: flex;
    justify-content: center;
}
a{
    color: #ccc;
}
.social-media{
    font-size:15px;
    margin-right: 7px;
}
.ff{
    height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.something{
    background-color: white;
    height: 100px;
    width: 100%;
    box-sizing: border-box;
    border-top: 7px solid #00c900;
}