$primary: rgb(0, 201, 0);
$font-primary: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
$bg-color: #f5f5f5;

.menu-container {
    background-color: $bg-color;
}

h1 {
    font-weight: 300 !important;
    color: white;
}
i{
    cursor: pointer;
}
//nav bar
.navigation-bar {
    height: 40px;
    width: 100%;
    background-color: $primary;
    color: white;
    padding: 0px 50px;
    font-family: $font-primary;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.nav-btn {
    margin: 15px;
    cursor: pointer;
    p {
        margin-top: 20px;
        font-size: 17px;
    }
    &:hover {
        opacity: 0.9;
        text-decoration: underline;
    }
}
.left-side,
.right-side {
    display: flex;
    p{
        margin-bottom: 20px;
    }
}

//header
.header {
    background-color: $primary;
    width: 100%;
}
.header-2 {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    height: 100px;
    padding: 0px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-bar {
    display: flex;
    align-items: center;
}
#main-search-bar {
    outline: none;
    box-sizing: border-box;
    height: 40px;
    width: 500px;
    padding: 0px 20px;
    background-color: rgba(0, 0, 0, 0.226);
    color: white;
    border: 2px solid white;
    margin: 0px;
    &::placeholder {
        color: white;
        opacity: 0.5;
    }
}
#search-btn {
    border: none;
    outline: none;
    height: 40px;
    margin: 0px;
    padding: 0px 15px;
    position: relative;
    left:-5px;
    top: -1px;
    background-color: white;
    color: $primary;
    i{
        font-weight: bold;
    }
}
.fa-shopping-cart{
    font-size:30px;
    color: white;
}
.cart{
    display: flex;
    justify-content:center;
    align-items:center;
    margin-left: 50px;
}
.products-container{
    display: flex;
    flex-wrap: wrap;
}