#shop_content {
    margin: 0px 500px;
}

.box h1 {
    width: 560px;
    font-weight: bold !important;
    font-size: 35px;
    background-color: #00c900;
    margin-top: 50px;
    padding: 30px;
}

.box h2 {
    margin-top: 5px;
    margin-left: 70px;
}

.box a {
    font-size: 20px;
}

.box .note {
    font-weight: bold;
    margin: 0px 20px;
}

.box p {
    font-size: 20px;
}

.box h2 {
    text-align: center;
}

.box .list {
    color: red;
    font-weight: 500;
}

.box img {
    width: 640px;
    height: 360px;
    display: block;
    margin-left: -30px;
    margin-bottom: 25px;
}