<div style="height: 100% ; width: 100%; position: absolute; background-color: rgba(0, 0, 0, 0.5); z-index:12309847500;"
    id="very-beautiful-alert-box">
    <div>
        <div class="styles">
            <link rel="stylesheet" href="../SCSS/alert.css">
        </div>
        <div id="alert-container">
            <div id="red-zone">
                <div>
                    <div class="alert-close" id="err-alert-close" style="margin-left: -30px;">
                        X
                    </div>
                    <i class="far fa-times-circle" style="font-size: 140px;" ></i>
                </div>
            </div>
            <div id="alert-content">
                <div>
                    <h1>Error!</h1>
                </div>
                <div>
                    <p class="alert-text">{{message}}</p>
                </div>
            </div>
        </div>
    </div>
</div>