<div class="add-product-container buy-product-container ">
    <link rel="stylesheet" href="../SCSS/addProductPage.css" scoped>
    <link rel="stylesheet" href="../SCSS/buy.css">
    <div class="container">
        <div class="contact-wrap w-100 p-md-5 p-4" style="padding: 50px;">
            <div id="form-message-warning" class="mb-4">
                <h2 style="color: black;">Choose a payment method</h2>
            </div>
            <form method="POST" id="buy-product" name="buy-product" class="buy-product" onsubmit="return false">
                <div class="row">
                    <div>
                        <div class="payment-menthod">
                            <div>
                                <input type="radio" name="paymentMethod" value="credit-card" id="pay-by-credit-card">
                                <label for="" class="paymentMethod">
                                    Pay by credit card
                                </label>
                            </div>
                            <div>
                                <div id="card-list" style="display: none;">
                                    <div>
                                        <div class="form__group field">
                                            <input type="number" class="form__field" placeholder="Card number"
                                                name="card-number" id="card-number" />
                                            <label for="" class="form__label">Card number</label>
                                        </div>

                                        <div class="form__group field">
                                            <input type="input" class="form__field" placeholder="Name on card"
                                                name="name-on-card" id="name-on-card" />
                                            <label for="" class="form__label">Name on card</label>
                                        </div>

                                        <div class="form__group field">
                                            <label for=""> Expiration Date</label>
                                            <input type="date" id="expiration-date" name="expiration-date">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span>-----------------------------------</span>
                        <div class="payment-menthod">
                            <input type="radio" name="paymentMethod" value="delivery" id="pay-on-delivery">
                            <label for="" class="paymentMethod">
                                Payment on delivery
                            </label>
                        </div>
                    </div>
                    <div>
                        <div id="form-message-warning" class="mb-4">
                            <h2 style="color: black;">Address</h2>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <input type="radio" value="private home address" id="private-home" name="address">
                                    <label for="" class="paymentMethod">Private home address</label>
                                </div>
                                <span>-----------------------------------</span>
                                <div>
                                    <input type="radio" value="post-office" id="post-office" name="address">
                                    <label for="" class="paymentMethod">Post Office</label>
                                </div>
                            </div>

                            <div id="real-address-form" style="display : none;">
                                <label for="" class="select">Your country (or territory)</label>*:</label>
                                <select id="countries">
                                    <option value="USA" selected>USA (default)</option>
                                </select>
                                <div id="form-address">

                                </div>
                            </div>
                            <div id="post-office-form" style="display : none;">
                                <label for="" class="select">Your country (or territory)</label>*:</label>
                                <select id="post-office-countries">
                                    <option value="USA" selected>USA (default)</option>
                                </select>
                                <div id="post-office-address">

                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="form-message-warning" class="mb-4">
                        <h2 style="color: black;">Quantity</h2>
                    </div>
                    <div id="items-list">
                      
                    </div>
                    <div>
                        <div class="form-group">
                            <div class="btn btn-primary" id="buy-now-btn" style="margin-top: 20px;"> Buy now </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div style="display:flex; width: 600px;">
            <div class="info-wrap " style="padding: 50px; background-color: #007bff; ">
                <h3>Purchase Page</h3>
                <div class="dbox" style="margin-top:40px; display:flex;">
                    <div class="icon center">
                        <span class="fas fa-signature"></span>
                    </div>
                    <div class="text">
                        <p><span>First name:</span>
                            <input type="text" class="g-input" name="name" id="first-name" placeholder="First Name"
                                style="background-color: transparent; border:none; border-bottom: 1px solid white; color:white; outline: none;">
                        </p>
                    </div>
                </div>
                <div class="dbox " style="margin-top:40px; display:flex;">
                    <div class="icon center">
                        <span class="fas fa-signature"></span>
                    </div>
                    <div class="text ">
                        <p><span>Last name:</span> <input type="text" class="g-input" name="name" id="last-name"
                                placeholder="Last name"
                                style="background-color: transparent; border:none; border-bottom: 1px solid white; color:white; outline: none;">
                        </p>
                    </div>
                </div>
                <div class="dbox  " style="margin-top:40px; display:flex;">
                    <div class="icon center">
                        <span class="fa fa-phone"></span>
                    </div>
                    <div class="text">
                        <p><span>Phone number:</span> <a>
                                <input type="text" class="g-input" name="" id="buy-phoneNum" placeholder="phone"
                                    style="background-color: transparent; border:none; border-bottom: 1px solid white; color:white; outline: none;">
                            </a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>