<link rel="stylesheet" href="../SCSS/filter.css" scoped>
<div class="filter-container">
    <div class="filter-title">
        <div>
            <i class="fa fa-filter"></i>
        </div>
        <div>
            <span>Filter Panel</span>
        </div>
    </div>
    <hr>
    <div class="section">
        <div>
            <i class="fa fa-handshake" style="margin-right: 10px;"></i>
        </div>
        <div>
            <h6>Vendors</h6>
        </div>
    </div>
    <div class="option">
        <form action="" onsubmit="return false">
            <div>
                <input type="checkbox" value="Exotic Fruits Company" class="fruits_vendor">
                
            </div>
            <div>
                <label for="Exotic Fruits Company" class="label">Exotic Fruits Co.</label>
            </div>
        </form>
    </div>
    <div class="option">
        <form action="" onsubmit="return false">
            <div>
                <input type="checkbox" value="Western Tasty Fruits Ltd." class="fruits_vendor">

            </div>
            <div>
                <label for="Western Tasty Fruits Ltd." class="label">Western Tasty Fruits Ltd.</label>
            </div>
        </form>
    </div>
    <div class="option">
        <form action="" onsubmit="return false">
            <div>
                <input type="checkbox" value="Home Fruits" class="fruits_vendor">

            </div>
            <div>
                <label for="Home Fruits" class="label">Home Fruits</label>
            </div>
        </form>
    </div>
    <div class="option">
        <form action="" onsubmit="return false">
            <div>
                <input type="checkbox" value="Fun Fresh Fruits Ltd." class="fruits_vendor">

            </div>
            <div>
                <label for="Fun Fresh Fruits Ltd." class="label">Fun Fresh Fruits Ltd.</label>
            </div>
        </form>
    </div>
    <div class="option">
        <form action="" onsubmit="return false">
            <div>
                <input type="checkbox" value="Nuts for Nuts Company" class="fruits_vendor">

            </div>
            <div>
                <label for="Nuts for Nuts Company" class="label">Nuts for Nuts Company</label>
            </div>
        </form>
    </div>
    <hr style="margin-top: 20px;">
    <div class="section">
        <div>
            <i class="fa fa-boxes" style="margin-right: 10px;"></i>
        </div>
        <div>
            <h6>Category</h6>
        </div>
    </div>
    <div class="option">
        <form action="" onsubmit="return false">
            <div>
                <input type="checkbox" value="Fruits" class="categories-category">

            </div>
            <div>
                <label for="Fruits" class="label">Fruits</label>
            </div>
        </form>
    </div>
    <div class="option">
        <form action="" onsubmit="return false">
            <div>
                <input type="checkbox" value="Dried" class="categories-category">

            </div>
            <div>
                <label for="Dried" class="label">Dried</label>
            </div>
        </form>
    </div>
    <div class="option">
        <form action="" onsubmit="return false">
            <div>
                <input type="checkbox" value="Fresh" class="categories-category">

            </div>
            <div>
                <label for="Fresh" class="label">Fresh</label>
            </div>
        </form>
    </div>
    <div class="option">
        <form action="" onsubmit="return false">
            <div>
                <input type="checkbox" value="Exotic" class="categories-category">

            </div>
            <div>
                <label for="Exotic" class="label">Exotic</label>
            </div>
        </form>
    </div>
    <div class="option">
        <form action="" onsubmit="return false">
            <div>
                <input type="checkbox" value="Nuts" class="categories-category">

            </div>
            <div>
                <label for="Nuts" class="label">Nuts</label>
            </div>
        </form>
    </div>
    <hr style="margin-top: 20px;">
    <div class="section">
        <div>
            <i class="fa fa-tags"  style="margin-right: 10px;"></i>
        </div>
        <div>
            <h6>Price range (USD)</h6>
        </div>
    </div>
    <div class="option" style="display: flex; flex-direction: columns; justify-content: center; align-items:center;">
        <form action="" onsubmit="return false">
            <div>
                <input type="number" placeholder="Ex: 199 -> 1.99$" id="price1">

            </div>
        </form>
    </div>
    <div style="display: flex; justify-content: center; ">
        <p> <i class="fa fa-arrow-down"></i>
        </p>
    </div>
    <div class="option"
        style="display: flex; flex-direction: columns; justify-content: center; align-items:center; margin-top: 0px;">
        <form action="" onsubmit="return false">
            <div>
                <input type="number" placeholder="Ex: 199 -> 1.99$" id="price2">

            </div>
            <br>
        </form>
    </div>
    <div style="width: 100%; display: flex; justify-content: center; align-items:center; margin-top: 20px;">
                    <div class="btn btn-primary" id="apply">Apply</div>

    </div>
    <!-- <hr style="margin-top: 20px;">
    <div class="section">
        <div>
            <i class="fa fa-thumbs-up" style="position: relative; top: -5px; margin-right: 10px;"></i>
        </div>
        <div>
            <h6>Ratings</h6>
        </div>
    </div>
    <div class="stars-row">
        <i class="fa fa-star " style="color: red;;"></i>
        <i class="fa fa-star " style="color: red;;"></i>
        <i class="fa fa-star " style="color: red;;"></i>
        <i class="fa fa-star " style="color: red;;"></i>
        <i class="fa fa-star " style="color: red;;"></i>
    </div>
    <div class="stars-row">
        <i class="fa fa-star " style="color: red;;"></i>
        <i class="fa fa-star " style="color: red;;"></i>
        <i class="fa fa-star " style="color: red;;"></i>
        <i class="fa fa-star " style="color: red;;"></i>
        <i class="fa fa-star "></i>
    </div>
    <div class="stars-row">
        <i class="fa fa-star " style="color: red;;"></i>
        <i class="fa fa-star " style="color: red;;"></i>
        <i class="fa fa-star " style="color: red;;"></i>
        <i class="fa fa-star " ></i>
        <i class="fa fa-star " ></i>
    </div>
    <div class="stars-row">
        <i class="fa fa-star " style="color: red;;"></i>
        <i class="fa fa-star " style="color: red;;"></i>
        <i class="fa fa-star " ></i>
        <i class="fa fa-star "></i>
        <i class="fa fa-star "></i>
    </div>
    <div class="stars-row">
        <i class="fa fa-star " style="color: red;;"></i>
        <i class="fa fa-star " ></i>
        <i class="fa fa-star "></i>
        <i class="fa fa-star "></i>
        <i class="fa fa-star "></i>
    </div>
    <div class="stars-row">
        <i class="fa fa-star " ></i>
        <i class="fa fa-star "></i>
        <i class="fa fa-star "></i>
        <i class="fa fa-star "></i>
        <i class="fa fa-star "></i>
    </div> -->
</div>