<div class="something">
    
</div>
<div class="footer">
    <link rel="stylesheet" href="../SCSS/footer.css" scoped>
    <div class="footer-content">
        <div class="footer-info">
            <div class="column" style="width: 500px;">
                <div class="footer-title ">
                    <h4 class="footer-title">About Us</h4>
                </div>
                <div class="text">
                                <div class="img">
                                    <img src="/Assets/footer-Home-Style-1.png" alt="">
                                </div>
                    <small>
        Our products are freshly harvested, washed ready
        for box and finally come to your home. Our fruit
        is carefully cared for by farmers, preserved in
        a place that meets all standards such as safety
        and hygiene. Especially,the quality of our products is
        second to none.

                    </small>
                </div>
            </div>
            <div class="column">
                <div class="footer-title ">
                    <h4 class="footer-title">Contact Us</h4>
                </div>
                <div class="address text">
                    <small>
                        <i class="fa fa-map-marker"></i>
                        253 Dien Bien Phu, Phuong 7, Quan 3, Thanh pho Ho Chi Minh                    </small>
                    <br>
                    <small>
                        <i class="fa fa-phone"></i>
                        +84 868958402
                    </small>
                    <br>
                    <small>
                        <i class="fa fa-envelope"></i>
                        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=linhoccho4869@gmail.com&su=FEEDBACK, CONTACT US&body=Write your thoughts, comments or suggestions about our website:" target="_blank">linhoccho4869@gmail.com</a>
                    </small>
                    <br>
                    <small>
                        <i class="fa fa-envelope"></i>
                        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=lvphucnguyen53lnh@gmail.com&su=FEEDBACK, CONTACT&body=Write your thoughts, comments or suggestions about our website: " target="_blank">Lvphucnguyen2k8@gmail.com</a>
                    </small>
                </div>
            </div>
            <div class="column" style="width:150px;">
                <div class="footer-title">
                    <h4 class="footer-title">
                        Follow Us
                    </h4>
                </div>
                <div class="text">
                    <small style="position: relative; top:10px;">
                        <i class="fa fa-facebook-square social-media" style="color: white;"></i>
                        <a href="https://www.facebook.com/luuvo.phucnguyen.7" target="_blank" rel="noop"> Nguyen</a>
                        |
                        <a href="https://www.facebook.com/linh.cbs.77" target="_blank" rel="noop"> Linh</a>
                    </small>
                    <br>
                    <small style=" position: relative; top:15px;">
                        <i class="fa fa-github social-media"
                            style="color: white; font-size: 16px; position:relative; right:1.5px;"></i>
                        <a href="https://github.com/Lvphucnguyen2k8" target="_blank" rel="noop"> Nguyen</a>
                        |
                        <a href="https://github.com/Linh-TDB" target="_blank" rel="noop"> Linh</a>
                    </small>
                    <br>
                    <small style=" position: relative; top:20px;">
                        <i class="fa fa-instagram social-media"
                            style="color: white; font-size: 17px; position:relative; right:1px;"></i>
                        <a href="https://www.instagram.com/luuvo.phucnguyen/" target="_blank" rel="noop"> Nguyen</a>
                        |
                        <a href="https://www.instagram.com/linhcbs4869/" target="_blank" rel="noop"> Linh</a>
                    </small>
                </div>
            </div>
            <div class="column" style="width:fit-content;">
                <div class="footer-title">
                    <h4 class="footer-title">
                        Made by
                    </h4>
                </div>
                <div class="address  text">
                    <small>
                        <i class="fa fa-html5 social-media">
                        </i> HTML5
                        <br>
                        <i class="fab fa-css3-alt social-media" style="margin-right:10px;"></i>CSS (SCSS)
                        <br>
                        <i class="fab fa-js social-media"></i> Javascript
                    </small>
                </div>
            </div>
        </div>
        <hr>
        <div class="ff">
            <div>
                <small>Copyright &copy; All Rights Reserved By Fruit-shop
                </small>
            </div>
            <div>
                <small>Lorem Ipsum </small>
            </div>
        </div>
    </div>
</div>