<!-- https://getbootstrap.com/docs/4.0/components/forms/ -->

<body>
    <link rel="stylesheet" href="/SCSS/login_signup_forgot_reset_profile.css">
    <div class="main-wrapper" style="width: 100%; height: 100%; margin-bottom:150px; background-image: url('');">
        <div class="container">
            <div class="container_content">
                <div class="sideBar">
                    <form action="" onsubmit="return false" id="form_login" class="box">
                        <h1>LOGIN</h1>
                        <div class="form-group">
                            <input type="email" id="loginEmail" class="form-control" placeholder="Type email"
                                autocomplete="on">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="loginPassword" placeholder="Password"
                                autocomplete="on">
                        </div>
                        <div>
                            <p id="alert"></p>
                        </div>
                        <button type="submit" id="btnLogin" class="btn btn-primary">Log In</button>
                        <button type="submit" id="Fg-password-btn" class="btn btn-primary">Forgot Password?</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>