<div class="menu-container" style="width: 100%; z-index: 1000;" >
    <div>
        <link rel="stylesheet" href="../SCSS/home.css" scoped>
    </div>
    <div class="header" style="width: 100%;">
        <div class="navigation-bar" style="width: 100%;">
            <div class="left-side">
                <div id="home-btn" class="nav-btn">
                    <p>Home</p>
                </div>
                <div id="fruit-category-btn" class="nav-btn">
                    <p>Categories</p>
                </div>
                <div id="add-product-btn" class="nav-btn" >
                    <p>Product management => Add products</p>
                </div>
                <div id="support-btn" class="nav-btn">
                    <p>Support</p>
                </div>
                
            </div>
            <div class="right-side">
                <div id="sign-up-btn" class="nav-btn">
                    <p>Sign up</p>
                </div>
                <div id="login-btn" class="nav-btn">
                    <p>Log in</p>
                </div>
                <div id="userEmail" class="nav-btn" style="display: none;">
                    <p>bruh</p>
                </div>
            </div>
        </div>
        <div class="header-2">
            <div class="logo-and-name" style="color: white;">
                <h1 style="color:white;">Fruit shop</h1>
            </div>
            <div style="display:flex;">
                <div class="search-bar">
                    <form action="" onsubmit="return false">
                        <input type="search" name="" id="main-search-bar" placeholder="Search...">
                        <button id="search-btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <div class="cart" style="cursor: pointer;">
                    <div style="cursor: pointer;">
                        <i class="fa fa-shopping-cart" id="cart-page-btn" style="cursor: pointer;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>