<!-- https://getbootstrap.com/docs/4.0/components/forms/ -->

<body>
    <link rel="stylesheet" href="../SCSS/login_signup_forgot_profile.css">
    <div class="main-wrapper" style="width: 100%; height: 100%;">
        <div class="container">
            <div class="container_content">
                <div class="sideBar">
                    <form action="" onsubmit="return false" class="box">
                        <h1>FORGOT/RESET PASSWORD</h1>
                        <form action="" onsubmit="return false">
                            <div class="form-group">
                                <input type="email" class="form-control" id="email-to-reset"
                                    aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <button type="submit" class="btn btn-primary" id="reset-password-btn">Reset</button>
                        </form>
                </div>
            </div>
        </div>
    </div>
</body>