<body>
    <link rel="stylesheet" href="/SCSS/login_signup_forgot_reset_profile.css">
    <div class="main-wrapper" style="width: 100%; height: 100%; margin-bottom: 100px;">
        <div class="container">
            <div class="container_content">
                <div class="sideBar">
                    <form action="" onsubmit="return false" class="box">
                        <h1>SIGN UP</h1>
                        <div class="form-group">
                            <input type="email" class="form-control" id="signUpEmail" aria-describedby="emailHelp"
                                placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="loginPassword" placeholder="Password">
                        </div>
                        <div>
                            <p id="alert"></p>
                        </div>
                        <button type="submit" class="btn btn-primary" id="btnSignup">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>