<body>
    <link rel="stylesheet" href="../SCSS/support.css">
    <div class="box">
        <h1>How can I have more information about the web</h1>
        <p class="note" style="width: 600px;">For users to know more about our website, we added a footer, which
            contains all the information about our web</p>
        <p class="list">1. About Us: All of our information to proof that our products are certified high quality and
            hygienic products</p>
        <p class="list">2. Contact Us: There are our headquarter's address, our phone number, our emails to comment</p>
        <p class="list">3. Follow Us: Users can follow us on Github, FaceBook, Instagram to have more news upcoming on
            our website</p>
        <p class="list">4. Made by: We made this web with HTML, CSS and JAVASCRIPT for users who want to make a website
            similar to us</p>
        <h2>Instruction</h2>
        <img src="../Assets/footer.png" alt="">
    </div>
</body>