<body>
    <div class="box">
        <link rel="stylesheet" href="../SCSS/support.css">
        <h1>How to buy fruit?</h1>
        <p class="note" style="width: 600px;">In our web, there are 2 ways to buy a product/products</p>
        <p class="list">1. Add to cart</p>
        <p>This way requires users to buy more than one fruit. After user buy a fruit, there is a cart next to search
            bar. In that cart, everything user bought had been added.</p>
        <h2>Instruction</h2>
        <img src="../Assets/addtocart.png" alt="">
        <!-- <img src="" alt=""> -->
        <p class="list">2. Buy now</p>
        <p>This way just requires users to buy one fruit. This way user can directly buy a fruit then deliver to your
            home.</p>
        <h2>Instruction</h2>
        <img src="../Assets/buynow.png" alt="">
        <img src="../Assets/cart.png" alt="">
    </div>
</body>