<body>
    <div class="box">
        <link rel="stylesheet" href="../SCSS/support.css">
        <h1>How to log in while forgot password?</h1>
        <p class="note" style="width: 600px;">Users don't need to be worry because our web have forgot-password function
        </p>
        <p class="list">1. Get to log in page</p>
                <img src="../Assets/forgotpassword.png" alt="">

        <p class="list">2. There is a forgot-password button under the login button</p>
                <img src="../Assets/forgotpasswordfocus.png" alt="">

        <p class="list">3. Users just need to click that button and fill in the email then immediately there will be an
            inbox email was sent to change your password</p>
        <img src="../Assets/forgotresetpassword.png" alt="">
    </div>
</body>