<body>
    <link rel="stylesheet" href="../SCSS/support.css">
    <div class="box">
        <h1>Hello. What can we help you?</h1>
        <h2>Frequently Asked Questions</h2>
        <a id="support_list1">How to buy fruit?</a>
        <hr>
        <a id="support_list2">How to log in while forgot password?</a>
        <hr>
        <a id="support_list3">How can I change my password?</a>
        <hr>
        <a id="support_list4">How can I buy my favorite fruit</a>
        <hr>
        <a id="support_list5">How can I have more information about the web</a>
    </div>
</body>