<body>
    <div class="box">
        <link rel="stylesheet" href="../SCSS/support.css">
        <h1>How can I change my password?</h1>
        <p class="note" style="width: 600px;">To change your password for more safety, in your profile there will be a
            reset-password function</p>
        <p class="list">1. Get to profile page</p>
        <p class="list">2. There is a reset-password button under your email button</p>
        <p class="list">3. Users just need to click that button and fill in the email then immediately there will be an
            inbox email was sent to change your password</p>
        <h2>Instruction</h2>
        <!-- <img src="" alt=""> -->
        <img src="../Assets/forgotresetpassword.png" alt="">
    </div>
</body>