<body>
    <div class="box">
        <link rel="stylesheet" href="../SCSS/support.css">
        <h1>How can I buy my favorite fruit</h1>
        <p class="note" style="width: 600px;">To serve the users their favorite fruit, there is a filter column on the
            left of the home page</p>
        <p>There are 3 filters for users to choose</p>
        <p class="list">1. The company which is selling the fruits</p>
        <p class="list">2. The type of that fruits</p>
        <p class="list">3. The range of price of each fruit</p>
        <h2>Instruction</h2>
        <img src="../Assets/filter.png" alt="">
        <img src="../Assets/filteralreadytick.png" alt="">
    </div>
</body>